.example-pizza-party {
  color: hotpink;
  padding: 15px;
}

.snack-container{
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.border-gap{
    width: 30px;
}