<div class="body">
  <div class="container">
    <div class="title-container">
      <div class="title hidden-right">
        <img
          src="assets/img/andressa/first/Metodo cintura fitness (18).png"
          alt=""
        />
        <div class="border"></div>
      </div>
    </div>
    <div class="gap-title"></div>
    <div class="evolutions-container">
      <div class="evolutions">
        <img
          class="hidden"
          src="assets/img/andressa/second/Metodo cintura fitness (14).png"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<app-p-carousel></app-p-carousel>
