<div class="body">
    <div class="container">
      <div class="title-container">
        <div class="title">
          <img
            src="assets/img/andressa/first/Metodo cintura fitness (1).png"
            alt=""
          />
        </div>
      </div>
      <div class="evolutions-container">
        <div class="evolutions">
          <img
            src="assets/img/andressa/first/Metodo cintura fitness (6).png"
            alt=""
          />
        </div>
      </div>
      
    </div>
  </div>
  