<div class="body">
    <div class="container">
      <div class="title-container">
        <div class="title">
          <img
            src="assets/img/andressa/first/Metodo cintura fitness (1).png"
            alt=""
          />
        </div>
      </div>
      <div class="evolutions-container">
        <div class="gap-title"></div>
        <div class="evolutions">
          <img
            src="assets/img/andressa/second/Metodo cintura fitness (6).png"
            alt=""
          />
        </div>
        <app-p-carousel></app-p-carousel>
      </div>
    </div>

  </div>
  