.body {
  overflow: hidden;
  width: 100%;
  height: 550px;
}

.evolutions-container {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.evolutions-container .evolutions {
  text-align: center;
}

.evolutions-container .evolutions img {
  width: 655px;
}

.title-container {
  display: none;
}
@media (max-width: 450px) {
  .title-container .title {
    width: 355px !important;
  }

  .title-container .title img {
    width: 300px !important;
  }
  .gap-title {
    height: 300px !important;
  }

  .title-container {
    padding-top: 0px !important;
  }
  .body {
    height: 760px !important;
  }
}
@media (max-width: 550px) {
  .gap-title {
    height: 480px;
  }

  .title-container {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    padding-top: 110px;
  }

  .title-container .title {
    transform: translate3d(10px, 10px, 0);
    border-bottom: 3px solid #d3c0f87c;
    width: 455px;
  }

  .title-container .title img {
    width: 400px;
  }

  .evolutions-container .evolutions img {
    width: 325px !important;
  }
  .body {
    height: 930px;
  }
}

@media (max-width: 750px) {
  .evolutions-container .evolutions img {
    width: 500px;
  }
}
