<div class="slider-effectCoverflow">
  <!-- <div class="img-description">
    <h1>{{ getImgDescription() }}</h1>
  </div> -->

  <swiper
    class="mySwiper"
    [effect]="'coverflow'"
    [grabCursor]="true"
    [centeredSlides]="true"
    [slidesPerView]="'auto'"
    [coverflowEffect]="coverFlowEffect"
    [pagination]="true"
    [navigation]="true"
    [initialSlide]="0"
    [autoplay]="{
      delay: 3000,
      disableOnInteraction: false
    }"
    (slideChange)="onSlideChange($event)"
  >
    <ng-template
      swiperSlide
      *ngFor="let imagem of imagens"
      class="carousel-item"
    >
      <img [src]="imagem.src" (click)="toggleImageModal(imagem.index - 1)" />
    </ng-template>
  </swiper>
  <div *ngIf="imagens[imgModalIndex].expanded" class="expanded-image-container">
    <div (click)="toggleImageModal()">
      <img [src]="getExpandedImgUrl()" class="expanded-image" />
    </div>
    <div [class]="prevClass" (click)="handleButton('prev')"></div>

    <!-- Botão de Navegação para a Direita -->
    <div [class]="nextClass" (click)="handleButton('next')"></div>
  </div>
</div>
