.container {
  width: 100%;
  height: 3000px;
  background: linear-gradient(to right, #323283, #3d2568, #4b2f69);
  position: fixed;
  z-index: -2;
}

.bolhas {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  justify-content: space-around;
  opacity: 0.2;
}

.bolhas span {
  width: 10px;
  height: 10px;
  border-radius: 50% 50% 10% 10% / 50% 50% 90% 90%;
  background: radial-gradient(
    circle,
    rgb(210, 182, 255) 0%,
    #9974ff81 70%
  );
  box-shadow: 0 0 50px 10px #9e7bffc5;
  animation: rain calc(200s / var(--i)) linear infinite,
    brilho 2s linear infinite;

  /* Efeito de brilho */
  @keyframes brilho {
    0% {
      opacity: 1;
      box-shadow: 0 0 50px 10px #9e7bffc5;
    }
    50% {
      opacity: 0.8;
      box-shadow: 0 0 20px 5px #9e7bffc5;
    }
    100% {
      opacity: 1;
      box-shadow: 0 0 50px 10px #9e7bffc5;
    }
  }

  /* Efeito de cauda */
  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 2px;
    height: 10px;
    background: #9974ff81;
    transform: rotate(-45deg);
    opacity: 0.5;
    animation: cauda 2s linear infinite;
  }

  @keyframes cauda {
    0% {
      opacity: 0.5;
      transform: rotate(-45deg);
    }
    50% {
      opacity: 1;
      transform: rotate(-30deg);
    }
    100% {
      opacity: 0.5;
      transform: rotate(-45deg);
    }
  }
}

.bolhas span:nth-of-type(even) {
  margin: -50px;
  background: radial-gradient(
    circle,
    #b180ff 0%,
    #7e4fff81 70%
  );
  box-shadow: 0 0 50px 10px #7e4fffc5;
}

@keyframes rain {
  0% {
    transform: translateY(130vh);
  }
  100% {
    transform: translateY(-30vh);
  }
}
