<div class="body" [style.zoom]="getZoom()">
  <div class="title">
    <h1>Assinantes</h1>
    <h2>{{ data?.titulo }}</h2>
  </div>
  <mat-dialog-content>
    <div *ngIf="homeService.permissaoUsuario == 2" class="users-container">
      <div class="user" *ngFor="let compraUsuario of comprasUsuarios; let i = index">
        <div><fa-icon class="user-icon" [icon]="faUserAlt"></fa-icon></div>
        <div class="content-user">
          <div
            (mouseover)="showEmailTooltip[i] = true"
            (mouseout)="showEmailTooltip[i] = false"
          >
            <div class="hidden-text">
              <b>
                {{ compraUsuario.usuario.email }}
              </b>
            </div>
            <div *ngIf="showEmailTooltip[i]" class="tool-tip">
              {{ compraUsuario.usuario.email }}
            </div>
          </div>

          <div>
            {{
              formatarDataParaBrasileiro(
                compraUsuario.compra.dataefetivacao || ""
              )
            }}
          </div>
        </div>
        <button
          class="delete-button"
          mat-button
          (click)="removerCompraUsuarioConfirmacao(compraUsuario.compra.key || '')"
        >
          <fa-icon class="delete-button-icon" [icon]="faXmark"></fa-icon>
        </button>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions style="top: 0; right: 0; position: absolute">
    <button mat-button mat-dialog-close class="close-button">
      <fa-icon class="close-button-icon" [icon]="faWindowMinimize"></fa-icon>
    </button>
    <!-- <button mat-button mat-dialog-close cdkFocusInitial>Ok</button> -->
  </mat-dialog-actions>
</div>
