<div class="body" [formGroup]="loginFormGroup">
  <div class="login-container" *ngIf="!userAuth">
    <div class="person">
      <fa-icon [icon]="faUserAlt"></fa-icon>
    </div>
    <h2>Login</h2>
    <div>
      <div class="input-group">
        <input
          placeholder="Email"
          formControlName="emailFormControl"
          type="email"
          id="email"
          name="email"
          maxlength="60"
          autocomplete="email"
        />
        <div
          *ngIf="
            loginFormGroup.get('emailFormControl').hasError('required') &&
            loginFormGroup.get('emailFormControl').touched
          "
          class="error-message"
        >
          Email é obrigatório.
        </div>
        <div
          *ngIf="
            loginFormGroup.get('emailFormControl').hasError('email') &&
            !loginFormGroup.get('emailFormControl').hasError('required') &&
            loginFormGroup.get('emailFormControl').touched
          "
          class="error-message"
        >
          Email inválido.
        </div>
      </div>
      <div class="input-group">
        <input
          placeholder="Senha"
          formControlName="passwordFormControl"
          type="password"
          id="password"
          name="password"
          maxlength="15"
          autocomplete="current-password"
        />
        <div
          *ngIf="
            loginFormGroup.get('passwordFormControl').hasError('required') &&
            loginFormGroup.get('passwordFormControl').touched
          "
          class="error-message"
        >
          Senha é obrigatória.
        </div>
        <div
          *ngIf="
            loginFormGroup.get('passwordFormControl').hasError('minlength') &&
            loginFormGroup.get('passwordFormControl').touched
          "
          class="error-message"
        >
          Mínimo 6 caracteres.
        </div>
      </div>

      <div class="buttons">
        <button
          [disabled]="!loginFormGroup.valid"
          class="button"
          (click)="emailSignin()"
          [ngClass]="{ 'disabled-button': !loginFormGroup.valid }"
        >
          Login <fa-icon [icon]="faSignInAlt"></fa-icon>
        </button>
        <button
          [disabled]="!loginFormGroup.valid"
          class="button"
          (click)="emailSignup()"
          [ngClass]="{ 'disabled-button': !loginFormGroup.valid }"
        >
          cadastro <fa-icon [icon]="faSignInAlt"></fa-icon>
        </button>
        <div class="button google" (click)="googleSignin()">
          <img
            src="../../../assets/img/Google__G__Logo.svg_-1024x1024.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="userAuth">
    Logged as <b>{{ userAuth.email }}</b> |
    <button (click)="desconectarUsuario()">Sair</button>
    <button (click)="deleteCurrentUser()">Deletar Conta</button>
    <button (click)="limparComprasUsuario()">Remover compras</button>

    <hr />
    <br />
    <h2>FireBase List</h2>
    <hr />
    <!-- <div class="input-group">
      <input
        placeholder="Nome"
        formControlName="nome"
        type="name"
        maxlength="60"
        autocomplete="name"
      />
    </div> -->
    <hr />
    <button class="button" (click)="addCompra()">
      Inserir compra <fa-icon [icon]="faSignInAlt"></fa-icon>
    </button>
    <hr />
    <table border="1">
      <tr>
        <th>Usuario</th>
        <th>Data Efetivação</th>
      </tr>
      <tr *ngFor="let compra of compras">
        <td [title]="['chave:  ' + compra.key]">{{ userAuth.email }}</td>
        <td>{{ compra.dataefetivacao }}</td>
        <td>
          <button (click)="removeCompra(compra.key || '')">X</button>
        </td>
      </tr>
    </table>
  </div>
</div>
<!-- <button (click)="teste()">testar</button> -->
