.body {
  font-family: Arial, sans-serif;
  background-color: #c0ccff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  padding: 8px;
  border-radius: 15px;
  border: 1px solid #ccc;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #004085;
}

.disabled-button {
  background-color: lightgrey;
  color: darkgrey;
  cursor: not-allowed;
  pointer-events: none;
}

.error-message {
  color: red;;
}

.person {
  margin-top: 5px;
  scale: 2;
}

.buttons {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

.google {
  border: 1px solid rgb(221, 221, 221);
  padding: 10px;
  width: 50px;
  border-radius: 15px;
}

.google:hover {
  border: 1px solid rgb(221, 221, 221);
  padding: 10px;
  width: 50px;
  background-color: whitesmoke;
  border-radius: 15px;
}

.google img {
  width: 25px;
  transform: translateY(2px);
}

.button{
  cursor: pointer;
}
