.body {
  // width: 10;
}

.global-container {
  // background: linear-gradient(to right, #3f3fa4, #563394, #633e8b);

  // background: linear-gradient(to right, #323283, #3d2568, #4b2f69);

  animation: initial-blur 2s ease-out;
}

@keyframes initial-blur {
  from {
    filter: blur(100px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}


* {
  transition: 0.5s;
}