<!-- <div
  style="
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.2225%;
    padding-bottom: 0;
    box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
    margin-top: 1.6em;
    margin-bottom: 0.9em;
    overflow: hidden;
    border-radius: 8px;
    will-change: transform;
  "
>
  <iframe
    loading="lazy"
    style="
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: none;
      padding: 0;
      margin: 0;
    "
    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAF9n7tGwkA&#x2F;k0qpb4Bl9frE24qmHeUROg&#x2F;view?embed"
    allowfullscreen="allowfullscreen"
    allow="fullscreen"
  >
  </iframe>
</div> -->

<div class="base"></div>
<div class="container">
  <div *ngIf="!expanded" class="nav not-expansive-nav">
    <div class="nav-option" *ngFor="let text of navList">
      <p>
        <span>{{ text }}</span>
      </p>
      <img src="../../../../assets/img/andressa/image-removebg-preview.png" />
    </div>
  </div>
  <div class="expansive-nav" (click)="toggleMobileNav()">
    <mat-icon>dehaze</mat-icon>
    <!-- <span class="label-menu">menu</span> -->
  </div>
  <div *ngIf="expanded" class="expanded-nav-container">
    <div class="nav expansive-nav">
      <div
        class="nav-option"
        *ngFor="let text of navList"
        (click)="toggleMobileNav()"
      >
        <p>
          <span>{{ text }}</span>
        </p>
        <img src="../../../../assets/img/andressa/image-removebg-preview.png" />
      </div>
    </div>
  </div>
  <div class="sub-title">
    <h2>Metodologia 100% natural</h2>
  </div>
  <div class="presentation-container">
    <div class="title">
      <div>
        <img
          class="title-img"
          src="../../../../assets/img/andressa/Desafio cintura fitness.png"
        />
      </div>
      <div>
        <img
          class="instagram-img"
          src="../../../../assets/img/andressa/Desafio cintura fitness (1).png"
        />
      </div>
      <div class="logo">
        <img
          src="../../../../assets/img/andressa/1371ed7e-2405-41ab-8b97-c202112df4bc-removebg-preview.png"
        />
      </div>
    </div>
    <div class="back-ground">
      <div class="one">
        <img src="../../../../assets/img/andressa/teste.png" />
      </div>
      <div class="two-left">
        <img src="../../../../assets/img/andressa/teste.png" />
      </div>
      <div class="two-right">
        <img src="../../../../assets/img/andressa/teste.png" />
      </div>
    </div>
    <!-- <i class="fa-brands fa-instagram"></i>
    tadf -->
  </div>
  <a routerLink="/home">login/pagamento</a>
</div>
