<div class="body">
  <div class="container">
    <div class="border-container">
      <div class="border">
        <div class="into-border">
          <!-- <img
          src="assets/img/andressa/fourth/Metodo cintura fitness (13).png"
          alt=""
        /> -->
        </div>
      </div>
    </div>
    <div class="logo-container">
      <div class="logo hidden">
        <img
          src="assets/img/andressa/fourth/Metodo cintura fitness (10).png"
          alt=""
        />
      </div>
    </div>
    <div class="wpp-container">
      <div class="wpp">
        <img
          class="hidden-right"
          src="assets/img/andressa/fourth/Metodo cintura fitness (11).png"
          alt=""
        />
      </div>
    </div>
    <div class="texts-container">
      <div class="title-container">
        <div class="title">GRUPO DO WHATSAPP</div>
      </div>
      <div class="content">
        <p>
          O grupo oficial do desafio você receberá informações e direcionamento
          durante 30 dias, Reeducação alimentar, Hábitos Saudáveis, treinos e
          etc.
        </p>
        <p>
          No grupo, trocamos ideias sobre rotinas de exercícios, receitas
          saudáveis, e motivamos uns aos outros a alcançar nossos objetivos
          fitness. É um espaço onde podemos aprender juntas e nos apoiar
          mutuamente na jornada rumo a um estilo de vida mais saudável e ativo.
        </p>
      </div>
    </div>
    <div class="espera-container">
      <div class="espera">
        <img
          class="hidden-right"
          src="assets/img/andressa/fourth/Metodo cintura fitness (16).png"
          alt=""
        />
      </div>
    </div>
    <div class="circle-body" #buttonFooter (click)="openWhatsApp(buttonFooter)">
      <div class="circle-container">
        <div class="circle hidden-right">
          <img src="assets/img/andressa/fourth/Design sem nome.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-container">
  <div class="footer">
    <img #buttonJeovana (click)="openJeovana(buttonJeovana)"
      src="assets/img/andressa/fourth/Metodo cintura fitness (15) (0_0).png"
      alt=""
    />
    <img #buttonPatryck (click)="openPatryck(buttonPatryck)"
      src="assets/img/andressa/fourth/Metodo cintura fitness (15) (0_1).png"
      alt=""
    />
  </div>
</div>
