.container {
  margin-top: 20px;
  overflow: hidden;
}
.border-container {
  position: absolute;
  width: 100%;
  overflow: hidden;
  max-width: 1100px;
}

.border-container .border {
  width: 100%;
  height: 100%;
}

.border-container .border .into-border {
  margin: 0 11px;
  border: 1px solid #d3c0f84b;
  height: 300px;
  border-top-left-radius: 30px;
  border-bottom: none;
}

.border-container .border .into-border img {
  height: 130px;
  position: absolute;
  right: 50px;
  bottom: 40px;
  z-index: 1;
}

.line {
  width: 85%;
  margin: auto;
  border: 1px solid #d3c0f84b;
}

.body {
  overflow: hidden;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 30px;
}

.logo-container {
  position: absolute;
  width: 250px;
}

.logo-container .logo img {
  width: 250px;
  transform: translateX(-15px);
  border-bottom-right-radius: 75%;
}

.wpp-container {
  position: absolute;
  width: 100%;
  height: 300px;
  max-width: 1100px;
  margin-top: 10px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.wpp-container .wpp {
  width: 310px;
  overflow: hidden;
}
.wpp-container .wpp img {
  width: 300px;
}

.texts-container {
  width: 100%;
  color: #d3c0f8;
  position: relative;
  z-index: 1;
}

.title-container {
  padding-top: 30px;
  width: 100%;
  text-align: center;
  font-family: "Libre Baskerville";
}

.title-container .title {
  font-size: 40px;
}

.content {
  padding: 20px 30px 0 155px;
  min-height: 323px;
  font-size: 18.4px;
  word-spacing: 2.5px;
}

.content b {
  text-align: center;
  display: block;
}

.espera-container {
  width: 100%;
  clip-path: inset(20px 0px 50px 0px);
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.espera-container .espera img {
  width: 400px;
}

.circle-body{
  cursor: pointer;
  padding-bottom: 10px;
  height: 20px;
}

.circle-container {
  position: absolute;
  height: 295px;
  margin-top: -214px;
  overflow: hidden;
  width: 97%;
  max-width: 700px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.circle-container .circle {
  border-radius: 172px;
  height: 70%;
  background-color: #8d80ff15;
  border: 1px solid #8c80ff;
  overflow: hidden;
}

.circle-container .circle:active {
  background-color: #8d80ff33;
}

.circle-container .circle:hover {
  background-color: #8d80ff33;
}

.circle-container .circle img {
  width: 64%;
  max-width: 600px;
  /* transform: translateY(7px); */
  top: -6px;
  left: 114px;
  opacity: 0.4;
  position: relative;
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  position: relative;
  padding: 15px 0 10px;
  z-index: 1;
  background: linear-gradient(to right, #31317e, #4f3088, #5b3a7e);
}

.footer-container .footer img {
  width: 200px;
}

@media (max-width: 830px) {
  .title-container .title {
    font-size: 27px;
  }

  .title-container .sub-title {
    font-size: 20px;
  }

  .content {
    font-size: 15px;
    word-spacing: 1.7px; /* Altere o valor conforme necessário */
  }

  .border-container .border .into-border {
    margin: 0 7px;
  }

  .border-container .border .into-border img {
    height: 120px;
  }
}
@media (max-width: 600px) {
  .border-container .border .into-border img {
    right: 30px;
    bottom: 20px;
  }
}
@media (max-width: 450px) {
  .title-container .title {
    font-size: 17px;
  }

  .content {
    padding: 20px 30px 0 140px;
    font-size: 13px;
    word-spacing: 1.3px; /* Altere o valor conforme necessário */
  }

  .espera-container .espera img {
    width: 320px;
    padding-bottom: 3px;
  }
  .border-container .border .into-border img {
    height: 110px;
  }
}

@media (max-width: 400px) {
  .border-container .border .into-border img {
    height: 100px;
    right: 10px;
    bottom: 10px;
  }
}

.clicked-elastic {
  animation: elasticMotion 1s ease-out;
}

@keyframes elasticMotion {
  0%,
  100% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(2px) scaleY(1.1);
  }
  30% {
    transform: translateX(-2px) scaleY(0.9);
  }
  50% {
    transform: translateX(1px) scaleY(1.05);
  }
  70% {
    transform: translateX(-1px) scaleY(0.95);
  }
  90% {
    transform: translateX(0.5px) scaleY(1);
  }
}

