<div class="body">
  <div class="container">
    <div class="border-container">
      <div class="border">
        <div class="into-border">
          <!-- <img
          src="assets/img/andressa/fourth/Metodo cintura fitness (13).png"
          alt=""
        /> -->
        </div>
      </div>
    </div>
    <div class="logo-container">
      <div class="logo hidden">
        <img
          src="assets/img/andressa/fourth/Metodo cintura fitness (10).png"
          alt=""
        />
      </div>
    </div>
    <div class="wpp-container">
      <div class="wpp">
        <img
          class="hidden-right"
          src="assets/img/andressa/fourth/Metodo cintura fitness (11).png"
          alt=""
        />
      </div>
    </div>
    <div class="texts-container">
      <div class="title-container">
        <div class="title">GRUPO DO WHATSAPP</div>
      </div>
      <div class="content">
        <p>
          Durante 30 dias, no grupo oficial do desafio, você receberá
          informações e orientações sobre Reeducação Alimentar, Hábitos
          Saudáveis, treinos, entre outros.
        </p>
        <p>
          No grupo oficial, será disponibilizada uma lista de regras que devem
          ser seguidas ao longo do desafio e também após o seu término, para
          garantir melhores resultados. Não haverá folga nos finais de semana, é
          necessário manter-se fiel às regras estabelecidas.
        </p>
        <p>Você terá todo o suporte necessário para esclarecer suas dúvidas.</p>
      </div>
    </div>
    <div class="espera-container">
      <div class="espera">
        <img
          class="hidden-right"
          src="assets/img/andressa/fourth/Metodo cintura fitness.png"
          alt=""
        />
      </div>
    </div>
    <div class="circle-body" #buttonFooter (click)="openWhatsApp(buttonFooter)">
      <div class="circle-container">
        <div class="circle hidden-right">
          <img src="assets/img/andressa/fourth/Design sem nome.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-container">
  <div>Criado por:</div>
  <div class="footer">
    <img
      #buttonJeovana
      (click)="openJeovana(buttonJeovana)"
      src="assets/img/andressa/fourth/Metodo cintura fitness (15) (0_1).png"
      alt=""
    />
    <img
      #buttonPatryck
      (click)="openPatryck(buttonPatryck)"
      src="assets/img/andressa/fourth/Metodo cintura fitness (15) (0_0).png"
      alt=""
    />
  </div>
</div>
