<div class="body-container">
  <div class="body">
    <div class="back-ground-container">
      <img
        src="assets/img/andressa/first/Metodo cintura fitness (4).png"
        alt=""
      />
    </div>
    <div class="container">
      <div class="logo-container">
        <div class="logo">
          <img
            class="hidden-right"
            src="assets/img/andressa/first/Metodo cintura fitness (7).png"
            alt=""
          />
        </div>
      </div>
      <div class="social-container hidden">
        <div class="social">
          <img
            class="one"
            src="assets/img/andressa/first/Metodo cintura fitness (5) (0_0).png"
            alt=""
            #buttonInstagram (click)="openInstagram(buttonInstagram)"
          />
          <img
            class="two"
            src="assets/img/andressa/first/Metodo cintura fitness (5) (0_1).png"
            alt=""
          />
          <img
            class="tree"
            src="assets/img/andressa/first/Metodo cintura fitness (5) (0_2).png"
            alt=""
            #buttonTikTok (click)="openTikTok(buttonTikTok)"
          />
        </div>
      </div>
      <div class="title-container">
        <div class="title">
          <img
            src="assets/img/andressa/first/Metodo cintura fitness (18).png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
