@media (min-width: 1330px) {
  .back-ground-container {
    border-bottom-left-radius: 33%;
  }

  .social-container {
    display: unset !important;
    justify-content: unset !important;
    overflow: unset !important;
    width: unset !important;
  }

  .social-container .social {
    transform: translate3d(613px, 100px, 0) !important;
  }

  .logo-container {
    width: unset !important;
    overflow: unset !important;
    justify-content: unset !important;
    display: unset !important;
  }

  .logo-container .logo {
    transform: translate3d(880px, 0, 0) !important;
  }
}
.body-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.body {
  overflow: hidden;
  width: 100%;
  max-width: 1330px;
  height: 700px;
}
.back-ground-container {
  width: 100%;
  max-width: 1150px;
  position: absolute;
  overflow: hidden;
  height: 695px;
  border-bottom-right-radius: 35%;
}

.back-ground-container img {
  transform: translate3d(-330px, -30px, 0);
  width: 1500px;
}

.container {
  height: 700px;
}

.title-container {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  overflow: hidden;
  animation: floatAnimation 3s ease-in-out infinite;

}


@keyframes floatAnimation {
  0%,
  100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
}


.title-container .title {
  transform: translate3d(370px, 50px, 0);
}

.title-container .title img {
  max-width: 590px;
  min-width: 410px;
  width: 45vw;
}

.logo-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.logo-container .logo {
  transform: translate3d(130px, 0, 0);
  width: 400px;
  overflow: hidden;
}

.logo-container .logo img {
  width: 500px;
  clip-path: inset(0px 0px 0px 240px);
  position: relative;
  right: 230px;
}

.social-container {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}

.social-container .social {
  transform: translate3d(0, 50px, 0);
}

.social-container .social img {
  width: 200px;
}

@media (max-width: 750px) {
  .social-container .social {
    transform: translate3d(113px, 120px, 0);
  }

  .social-container .social img {
    width: 140px;
  }

  .title-container .title {
    transform: translate3d(304px, -50px, 0);
  }

  .title-container .title img {
    min-width: 250px;
  }

  .back-ground-container {
    height: 550px;
  }

  .back-ground-container img {
    transform: translate3d(-260px, -30px, 0);
    width: 1200px;
  }
  .body {
    height: 585px;
  }
  @media (min-width: 450px) {
    .body {
      height: 585px !important;
    }
  }
  .logo-container .logo img {
    width: 300px;
    right: 150px;
    clip-path: inset(0px 0px 0px 180px);
  }
  .logo-container .logo {
    transform: translate3d(250px, 0, 0);
  }
}

@media (max-width: 550px) {
  .body {
    height: 555px ;
  }
  @media (min-width: 750px) {
    .body {
      height: 585px !important;
    }
  }
  .social-container {
    justify-content: flex-start;
  }

  .social-container .social {
    transform: translate3d(20px, 20px, 0);
  }

  .social-container .social img {
    width: 160px;
  }

  .title-container .title {
    display: none;
  }

  .back-ground-container {
    border-bottom-left-radius: 35%;
    border-top-right-radius: 450px;
    animation: radiusAnimation 3s ease-in-out infinite;
    height: 700px;
  }

  @keyframes radiusAnimation {
    0%,
    100% {
      border-bottom-left-radius: 35%;
      height: 700px;
      border-top-right-radius: 450px;
    }
    50% {
      border-bottom-left-radius: 30%;
      height: 720px;
      border-top-right-radius: 440px;
    }
  }

  .logo-container .logo {
    transform: translate3d(250px, 0, 0);
  }


  .back-ground-container img {
    transform: translate3d(-460px, -40px, 0);
    width: 2100px;
  }
}

@media (max-width: 450px) {
  .social-container .social {
    transform: translate3d(10px, 20px, 0);
  }

  .social-container .social img {
    width: 110px;
  }

  .back-ground-container {
    border-bottom-left-radius: 35%;
    border-top-right-radius: 360px;
    animation: radiusAnimation 3s ease-in-out infinite;
    height: 560px;
  }

  @keyframes radiusAnimation {
    0%,
    100% {
      border-bottom-left-radius: 35%;
      height: 560px;
      border-top-right-radius: 360px;
    }
    50% {
      border-bottom-left-radius: 30%;
      height: 570px;
      border-top-right-radius: 380px;
    }
  }


  .back-ground-container img {
    transform: translate3d(-370px, -32px, 0);
    width: 1700px;
  }

  .logo-container .logo {
    width: 300px;
  }
  .logo-container .logo {
    transform: translate3d(150px, 0, 0);
  }
}
