<div class="body-container">
  <div class="body">
    <div class="back-ground-container">
      <img
        src="assets/img/andressa/first/Metodo cintura fitness (4).png"
        alt=""
      />
    </div>
    <div class="container">
      <div class="logo-container">
        <div class="logo">
          <img
            class="hidden-right"
            src="assets/img/andressa/first/Metodo cintura fitness (7).png"
            alt=""
          />
        </div>
      </div>
      <div class="social-container hidden">
        <div class="social">
          <img
            src="assets/img/andressa/first/Metodo cintura fitness (5).png"
            alt=""
          />
        </div>
      </div>
      <div class="title-container">
        <div class="title">
          <img
            src="assets/img/andressa/first/Metodo cintura fitness (18).png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
