<div class="body">
  <div class="container">
    <div class="border-container">
      <div class="border">
        <div class="into-border"></div>
      </div>
    </div>
    <div class="logo-container ">
      <div class="logo">
        <img
          src="assets/img/andressa/third/Metodo cintura fitness (8).png"
          alt=""
        />
      </div>
    </div>
    <div class="background-container">
      <div class="background hidden-right">
        <img
          src="assets/img/andressa/third/Metodo cintura fitness (9).png"
          alt=""
        />
      </div>
    </div>
    <div class="texts-container">
      <div class="title-container">
        <div class="title">SOBRE O MEU MÉTODO</div>
        <div class="sub-title">Vaccum Rib</div>
      </div>
      <div class="content">
        <p>
          Stomach Vacuum significa vácuo de estômago, conhecido como vacuum
          abdominal, o objetivo é criar uma linha de cintura mais fina, porque o
          movimento trata-se de uma contração isométrica, que tenciona músculo
          sem movimentá-lo, do músculo transverso abdominal.
        </p>
        <b> "Rib" significa costelas -</b>
        <p>
          Em 6 meses praticando o vacuum notei que as costelas abertas daquela
          forma não iriam deixar uma linha de cintura visivelmente mais fina, e
          comecei a fechar as costelas dentro do vacuum. Após alguns meses
          fazendo isso consegui uma curvatura acentuada da minha cintura.
        </p>
        <p>
          Pesquisando bastante sobre o assunto descobri o LCC, porém minha
          técnica não é igual.
        </p>
        <p>
          E hoje com 16 cm de circunferência abdominal reduzidas, 15 kg
          eliminados de forma natural, tenho a missão de ajudar milhares de
          mulheres a conquistarem a sua melhor versão.
        </p>
      </div>
    </div>
  </div>
</div>
