<div [ngStyle]="circleContainerStyle">
  <div class="circle">
    <div class="perfil-upload">
      <div class="upload-input" *ngIf="clickable">
        <input
          id="file-input"
          (change)="onFileSelected($event)"
          accept="image/*"
          type="file"
        />
      </div>
      <div *ngIf="!initialUrl && !imageUrl" class="perfil-icon">
        <fa-icon [icon]="faUserAlt"></fa-icon>
      </div>
      <div class="perfil-image" *ngIf="imageUrl || initialUrl">
        <img
          alt="Uploaded Image"
          id="img-preview"
          [src]="imageUrl || initialUrl"
        />
      </div>
    </div>
  </div>
</div>
