

body {
  margin: 0px;
}
::-webkit-scrollbar {
  width: 0.01px; /* Defina a largura da barra de rolagem como 0 */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Cor do "polegar" (barra de rolagem) */
}
