

body {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar {
  width: 0.01px; /* Defina a largura da barra de rolagem como 0 */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Cor do "polegar" (barra de rolagem) */
}


// animaçoes de hidden

.hidden {
  animation: left-desaparecer 1s ease-out;
}

.show {
  animation: left-appear 1s ease-out;
}

@keyframes left-appear {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes left-desaparecer {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100px);
  }
}

//animações clicked
.clicked-elastic {
  animation: elasticMotion 1s ease-out;
}

@keyframes elasticMotion {
  0%,
  100% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(2px) scaleY(1.1);
  }
  30% {
    transform: translateX(-2px) scaleY(0.9);
  }
  50% {
    transform: translateX(1px) scaleY(1.05);
  }
  70% {
    transform: translateX(-1px) scaleY(0.95);
  }
  90% {
    transform: translateX(0.5px) scaleY(1);
  }
}



.hidden-right {
  animation: right-desaparecer 1s ease-out;
}

.show-right {
  animation: right-appear 1s ease-out;
}

@keyframes right-appear {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes right-desaparecer {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100px);
  }
}

